<button ng-click="taskctrl.showAddTask()" class="btn btn-default">Agregar una tarea</button>

<br>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="task in taskctrl.tasks">
        <input type="checkbox"> {{ task.title }}
        <p class="text-right">
            <button class="btn btn-info" ng-click="taskctrl.showTask(task)"><i class="glyphicon glyphicon-eye-open"></i></button>
            <button class="btn btn-success" ng-click="taskctrl.showEditTask(task)"><i class="glyphicon glyphicon-edit"></i></button>
            <button class="btn btn-danger" ng-click="taskctrl.deleteTask(task)"><i class="glyphicon glyphicon-remove"></i></button>
        </p>
    </li>

</ul>


<task-form
        editing="taskctrl.editingTask"
        task="taskctrl.task"
        on-success="taskctrl.successAddTask()"
         on-update="taskctrl.successEditTask()"
         on-delete="taskctrl.successDelTask()" ng-show="taskctrl.addingTask"></task-form>


